apiVersion: claudie.io/v1beta1
kind: InputManifest
metadata:
  name: rolling-update-2
spec:
  providers:
    - name: hetzner-1
      providerType: hetzner
      templates:
        repository: "https://github.com/berops/claudie-config"
        tag: "v0.9.12"
        path: "templates/terraformer/hetzner"
      secretRef:
        name: hetzner-secret
        namespace: e2e-secrets
    - name: hetzner-2
      providerType: hetzner
      templates:
        repository: "https://github.com/berops/claudie-config"
        tag: "v0.9.12"
        path: "templates/terraformer/hetzner"
      secretRef:
        name: hetzner-secret
        namespace: e2e-secrets
    - name: oci-1
      providerType: oci
      templates:
        repository: "https://github.com/berops/claudie-config"
        tag: "v0.9.12"
        path: "templates/terraformer/oci"
      secretRef:
        name: oci-secret
        namespace: e2e-secrets
    - name: aws-1
      providerType: aws
      templates:
        repository: "https://github.com/berops/claudie-config"
        tag: "v0.9.12"
        path: "templates/terraformer/aws"
      secretRef:
        name: aws-secret
        namespace: e2e-secrets
    - name: aws-2
      providerType: aws
      templates:
        repository: "https://github.com/berops/claudie-config"
        tag: "v0.9.12"
        path: "templates/terraformer/aws"
      secretRef:
        name: aws-secret
        namespace: e2e-secrets
    - name: azure-payed-1
      providerType: azure
      templates:
        repository: "https://github.com/berops/claudie-config"
        tag: "v0.9.12"
        path: "templates/terraformer/azure"
      secretRef:
        name: azure-secret
        namespace: e2e-secrets
  nodePools:
    static:
    dynamic:
      - name: htz-ctrl-nodes
        providerSpec:
          name: hetzner-1
          region: nbg1
          zone: nbg1-dc3
        count: 1
        serverType: cpx32
        image: ubuntu-24.04
        labels:
          test-set: rolling-update-2-test
        annotations:
          claudie.io/example-annotation: >
            ["rolling-update-2-test"]

      - name: oci-ldbl-nodes
        providerSpec:
          name: oci-1
          region: eu-frankfurt-1
          zone: hsVQ:EU-FRANKFURT-1-AD-2
        count: 1
        serverType: VM.Standard2.1
        # https://docs.oracle.com/en-us/iaas/images/ubuntu-2404/canonical-ubuntu-24-04-2024-08-28-0.htm
        image: ocid1.image.oc1.eu-frankfurt-1.aaaaaaaa7hxwyz4qiasffo7n7s4ep5lywpzwgkc2am65frqrqinoyitmxxla
        storageDiskSize: 50

      - name: aws-cmpt-nodes
        providerSpec:
          name: aws-2
          region: eu-west-3
          zone: eu-west-3a
        count: 1
        serverType: t4g.xlarge
        #ubuntu
        image: ami-045a8ab02aadf4f88
        storageDiskSize: 50

      - name: htz-cmpt-nodes
        providerSpec:
          name: hetzner-2
          region: nbg1
          zone: nbg1-dc3
        count: 1
        serverType: cpx32
        image: ubuntu-24.04
        storageDiskSize: 50

  kubernetes:
    clusters:
      - name: ts-rolling-update-nodepools1
        version: "1.34.0"
        network: 192.168.2.0/24
        pools:
          control:
            - htz-ctrl-nodes
          compute:
            - aws-cmpt-nodes
  loadBalancers:
    roles:
      - name: port1
        protocol: tcp
        port: 6444
        targetPort: 6444
        targetPools:
          - aws-cmpt-nodes
      - name: port2
        protocol: tcp
        port: 6448
        targetPort: 6448
        targetPools:
          - aws-cmpt-nodes
    clusters:
      - name: ts-rolling-update-lbpools001
        roles:
          - port1
        dns:
          dnsZone: aws.e2e.claudie.io
          provider: aws-1
        targetedK8s: ts-rolling-update-nodepools1
        pools:
          - oci-ldbl-nodes
      - name: ts-rolling-update-lbpools002
        roles:
          - port2
        dns:
          dnsZone: azure.e2e.claudie.io
          provider: azure-payed-1
        targetedK8s: ts-rolling-update-nodepools1
        pools:
          - htz-cmpt-nodes
