# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for Ansibler Docker
  - package-ecosystem: "docker"
    directory: "/services/ansibler"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Builder Docker
  - package-ecosystem: "docker"
    directory: "/services/builder"
    schedule:
      interval: "monthly"
  # Maintain dependencies for ContextBox Docker
  - package-ecosystem: "docker"
    directory: "/services/context-box"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Frontend Docker
  - package-ecosystem: "docker"
    directory: "/services/frontend"
    schedule:
      interval: "monthly"
  # Maintain dependencies for KubeEleven Docker
  - package-ecosystem: "docker"
    directory: "/services/kube-eleven"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Kuber Docker
  - package-ecosystem: "docker"
    directory: "/services/kuber"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Scheduler Docker
  - package-ecosystem: "docker"
    directory: "/services/scheduler"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Terraformer Docker
  - package-ecosystem: "docker"
    directory: "/services/terraformer"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Testing-Framework Docker
  - package-ecosystem: "docker"
    directory: "/services/testing-framework"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Github-Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  # Maintain dependencies for Go
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
