.idea/
*.ini
.terraform*
playground
clusters
.vscode
mongodb
*.tfstate*
*.pem
kubeone.yaml
cluster.tar.gz
cluster-kubeconfig
*.conf
__debug_bin
services/testing-framework/test-sets
services/terraformer/templates
/venv/
/site/
bin
.manifest*
.DS_Store
/services/terraformer/server/cache
