keys/** filter=git-crypt diff=git-crypt
manifests/testing-framework/test-sets/** filter=git-crypt diff=git-crypt
services/context-box/client/manifest.yaml filter=git-crypt diff=git-crypt
services/terraformer/client/client_test.go filter=git-crypt diff=git-crypt
services/terraformer/server/terraformer_test.go filter=git-crypt diff=git-crypt
services/terraformer/server/clusterBuilder/clusterBuilder_test.go filter=git-crypt diff=git-crypt
manifests/claudie/minio/secrets/** filter=git-crypt diff=git-crypt
manifests/claudie/mongo/secrets/** filter=git-crypt diff=git-crypt
