kind: Kustomization
metadata:
  name: mongo
resources:
  - "mongodb.yaml"
secretGenerator:
  - name: mongo-secret
    files:
      - "MONGO_INITDB_ROOT_USERNAME=./secrets/username"
      - "MONGO_INITDB_ROOT_PASSWORD=./secrets/password"