---
- name: Create wireguard config dir
  ansible.builtin.file:
    path: "/etc/wireguard"
    state: directory
  register: wg_conf_dir

- name: Generate WireGuard keypair if not existing
  ansible.builtin.shell: |
    umask 077 && wg genkey | tee {{ wg_conf_dir.path }}/privatekey | wg pubkey > {{ wg_conf_dir.path }}/publickey
  args:
    creates: "{{ wg_conf_dir.path }}/privatekey"

- name: Read private key
  ansible.builtin.slurp:
    src: "{{ wg_conf_dir.path }}/privatekey"
  register: privatekey

- name: Read public key
  ansible.builtin.slurp:
    src: "{{ wg_conf_dir.path }}/publickey"
  register: publickey

- name: Check if wireguard interface exists
  ansible.builtin.stat:
    path: /sys/class/net/wg0
  register: wg0_stat

- name: Create wireguard interface
  ansible.builtin.command:
    cmd: ip link add dev wg0 type wireguard
  when: not wg0_stat.stat.exists

- name: Check if interface already has the IP
  ansible.builtin.command:
    cmd: ip -o addr show dev wg0
  register: wg0_ip_info
  changed_when: false 

- name: Assign IP address
  ansible.builtin.command:
    cmd: ip address add dev wg0 {{ private_ip }}/{{ netmask }}
  when: private_ip not in wg0_ip_info.stdout

- name: Template wireguard config file to a node
  ansible.builtin.template:
    src: "{{ 'wg-static.conf.j2' if 'static' in group_names else 'wg-dynamic.conf.j2' }}"
    dest: "{{ wg_conf_dir.path }}/wg0.conf"

- name: Sync configuration file
  ansible.builtin.shell: wg syncconf {{ wg_interface_name }} <(wg-quick strip {{ wg_interface_name }})
  args:
    executable: /bin/bash

- name: Enable wireguard interface
  ansible.builtin.shell: ip link set up dev wg0

- name: Set MTU size for wg0
  ansible.builtin.shell: ip link set mtu {{ mtu_size }} dev {{ wg_interface_name }}

- name: Ensure file /etc/dhcp/dhclient.conf exists and make MTU change persistent across reboots
  ansible.builtin.blockinfile:
    path: /etc/dhcp/dhclient.conf
    create: yes
    insertbefore: "^request"
    block: |
      interface "{{ wg_interface_name }}" {
         default interface-mtu {{ mtu_size }};
         supersede interface-mtu {{ mtu_size }};
      }

- name: Enable systemd service for wg-quick@wg0
  ansible.builtin.systemd:
    name: "wg-quick@wg0"
    enabled: true
