namespace: claudie
resources:
- testing-framework.yaml
secretGenerator:
- files:
  - test-sets/test-set1/1.yaml
  - test-sets/test-set1/2.yaml
  - test-sets/test-set1/3.yaml
  name: test-set1
- files:
  - test-sets/test-set2/1.yaml
  - test-sets/test-set2/2.yaml
  - test-sets/test-set2/3.yaml
  name: test-set2
- files:
  - test-sets/test-set3/1.yaml
  - test-sets/test-set3/2.yaml
  - test-sets/test-set3/3.yaml
  - test-sets/test-set3/4.yaml
  name: test-set3
- files:
  - test-sets/test-set4/1.yaml
  - test-sets/test-set4/2.yaml
  - test-sets/test-set4/3.yaml
  name: test-set4
- files:
  - test-sets/autoscaling-1/1.yaml
  - test-sets/autoscaling-1/2.yaml
  - test-sets/autoscaling-1/3.yaml
  name: autoscaling
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: ghcr.io/berops/claudie/testing-framework
  newTag: eb1365c-1995
