apiVersion: batch/v1
kind: Job
metadata:
  name: testing-framework
spec:
  backoffLimit: 0
  template:
    spec:
      terminationGracePeriodSeconds: 7200 # 2 hours
      containers:
        - name: testing-framework
          imagePullPolicy: Always
          image: ghcr.io/berops/claudie/testing-framework
          env:
            - name: CONTEXT_BOX_PORT
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: CONTEXT_BOX_PORT
            - name: CONTEXT_BOX_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: CONTEXT_BOX_HOSTNAME
            - name: GOLANG_LOG
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: GOLANG_LOG
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: AUTO_CLEAN_UP
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: AUTO_CLEAN_UP
                  optional: true
          volumeMounts:
            - name: test-set1
              mountPath: "/go/services/testing-framework/test-sets/test-set1"
            - name: test-set2
              mountPath: "/go/services/testing-framework/test-sets/test-set2"
            - name: test-set3
              mountPath: "/go/services/testing-framework/test-sets/test-set3"
            - name: test-set4
              mountPath: "/go/services/testing-framework/test-sets/test-set4"
            - name: autoscaling-1
              mountPath: "/go/services/testing-framework/test-sets/autoscaling-1"
      volumes:
        - name: test-set1
          secret:
            secretName: test-set1
        - name: test-set2
          secret:
            secretName: test-set2
        - name: test-set3
          secret:
            secretName: test-set3
        - name: test-set4
          secret:
            secretName: test-set4
        - name: test-set5
          secret:
            secretName: test-set5
        - name: autoscaling-1
          secret:
            secretName: autoscaling-1
      restartPolicy: Never
      serviceAccountName: testing-framework
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: testing-framework
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: testing-framework
rules:
  - apiGroups: ["claudie.io"]
    resources: ["inputmanifests"]
    verbs: ["create", "patch", "update", "get", "list", "delete", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: testing-framework
roleRef:
  kind: ClusterRole
  name: testing-framework
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: testing-framework
