apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  labels:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: claudie
      app.kubernetes.io/name: manager
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: claudie
        app.kubernetes.io/name: manager
    spec:
      terminationGracePeriodSeconds: 300
      securityContext:
        # needed by manager to be able to ping nodes to determine
        # which of them are reachable or not.
        sysctls:
          - name: net.ipv4.ping_group_range
            value: "1 3000"
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
      volumes:
        - name: temp
          emptyDir: {}
      containers:
        - name: manager
          imagePullPolicy: Always
          image: ghcr.io/berops/claudie/manager
          volumeMounts:
            - mountPath: /tmp
              name: temp
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - all
              add:
                # needed to access raw sockets for ping.
                - NET_RAW
          resources:
            requests:
              cpu: 80m
              memory: 100Mi
            limits:
              cpu: 160m
          env:
            - name: NATS_CLUSTER_URL
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: NATS_CLUSTER_URL
            - name: NATS_CLUSTER_SIZE
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: NATS_CLUSTER_SIZE
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: DATABASE_URL
            - name: MANAGER_PORT
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: MANAGER_PORT
              # No hostname needed
            - name: GOLANG_LOG
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: GOLANG_LOG
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MANAGER_TICK_FOR_INFRA_REFRESH
              valueFrom:
                configMapKeyRef:
                  name: env
                  key: MANAGER_TICK_FOR_INFRA_REFRESH
          ports:
            - containerPort: 50055
            - name: "metrics"
              containerPort: 9090
          readinessProbe:
            grpc:
              port: 50055
              service: manager-readiness
            initialDelaySeconds: 30
            periodSeconds: 35
          livenessProbe:
            grpc:
              port: 50055
              service: manager-liveness
            initialDelaySeconds: 30
            periodSeconds: 35
      serviceAccountName: manager
---
kind: Service
apiVersion: v1
metadata:
  name: manager
  labels:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: manager
spec:
  selector:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: manager
  ports:
    - protocol: TCP
      port: 50055
      targetPort: 50055
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: manager
  labels:
    app.managernetes.io/part-of: claudie
    app.managernetes.io/name: manager
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: manager
  labels:
    app.managernetes.io/part-of: claudie
    app.managernetes.io/name: manager
rules:
  - apiGroups: [""]
    resources: ["secrets", "configmaps", "services"]
    verbs: ["create", "patch", "update", "get", "list", "delete"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["create", "patch", "update", "get", "list", "delete"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: manager
  labels:
    app.managernetes.io/part-of: claudie
    app.managernetes.io/name: manager
roleRef:
  kind: Role
  name: manager
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: manager
