apiVersion: claudie.io/v1beta1
kind: InputManifest
metadata:
  name: test-set4
spec:
  providers:
      - name: hetzner-1
        providerType: hetzner
        secretRef:
          name: hetzner-secret
          namespace: e2e-secrets
  nodePools:
    dynamic:
      - name: hetzner-control
        providerSpec:
          name: hetzner-1
          region: fsn1
          zone: fsn1-dc14
        count: 1
        serverType: cpx11
        image: ubuntu-22.04
        storageDiskSize: 50
      - name: hetzner-compute
        providerSpec:
          name: hetzner-1
          region: fsn1
          zone: fsn1-dc14
        count: 1
        serverType: cpx11
        image: ubuntu-22.04
        storageDiskSize: 50


  kubernetes:
    clusters:
      - name: ts4-c-1
        version: v1.24.0
        network: 192.168.2.0/24
        pools:
          control:
            - hetzner-control
          compute:
            - hetzner-compute
