[Unit]
Description=Node Exporter
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/node_exporter --web.listen-address=0.0.0.0:9100 --web.telemetry-path=/metrics
SyslogIdentifier=node_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target