apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  labels:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: claudie
      app.kubernetes.io/name: mongo
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: claudie
        app.kubernetes.io/name: mongo
    spec:
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mongo-pvc
      containers:
        - name: mongodb
          volumeMounts:
            - name: data
              mountPath: /data/db
          image: mongo:5
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
            limits:
              cpu: 150m
              memory: 500Mi
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_USERNAME
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_PASSWORD
          ports:
            - containerPort: 27017
---
kind: Service
apiVersion: v1
metadata:
  name: mongodb
  labels:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: mongo
spec:
  selector:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  labels:
    app.kubernetes.io/part-of: claudie
    app.kubernetes.io/name: mongo
spec:
  resources:
    requests:
      storage: 10Gi
  accessModes:
    - ReadWriteOnce
